:root{
    --white-gray: #FBFBFB;
    --light-gray: #F5F5F5;
    --regular-gray: #858585;
    --dark-gray: #464646;
}

body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: var(--white-gray);
}

*,*::before, *::after{
    box-sizing: border-box;
}

h2, p, h3{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

h1{
    font-family: 'Alegreya', 'Times New Roman', Times, serif;
    font-size: 55px;
    font-weight: 700;
    margin: 0;
}

h2{
    font-size: 28px;
    font-weight: 700;
}

h3{
    font-size: 20px;
}

p{
    font-size: 15px;
}

button{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: var(--light-gray);
    border: 1px solid var(--dark-gray);
    border-radius: none;
}

hr{
    width: 250px;
    border: 1px solid var(--regular-gray);
    margin: 6px 0 14px 0;
}

.hidden{
    visibility: hidden;
}

/* Header */
header{
    width: 100%;
    padding: 5px 0;

    text-align: center;
    color: var(--white-gray);

    background-color: var(--dark-gray);
}

/* Main */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

/* number input */
main .number-div{
    width: 90%;
    max-width: 549px;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 25px 0 20px 0;
}

main .number-div h2{
    margin: 0 0 10px 0;
}

main .number-div .number-in{
    width: 100%;
    
    height: 41px;
    border: 1px solid var(--dark-gray);

    flex-grow: 1;

    margin: 10px 0;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}

main .number-div .number-in::placeholder{
    color: #b5b5b5;
    font-size: 20px;
}

main .number-div .error{
    color: #cb3234;
    margin: 5px;
    margin-bottom: 0;
}

/* Result button */
main .result-btn{
    width: 180px;
    height: 44px;
    margin-bottom: 30px;

    font-size: 18px;

    cursor: pointer;
    
    transition: all .1s ease-in-out;
}

main .result-btn:hover{

    color: white;
    background-color: var(--dark-gray);

}


/* Result */

main .result{
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .result h2{
    margin: 10px 0;
}


/* Footer */
footer{
    width: 100%;

    margin-top: auto;
    text-align: center;
}